#### Añadimos el directorio raíz al sys.path para facilitar importaciones

In [1]:
import os

notebook_dir = os.getcwd()
root_dir = os.path.abspath(os.path.join(notebook_dir, '..'))
os.chdir(root_dir)

print("Directorio de trabajo actual después del cambio:", os.getcwd())

Directorio de trabajo actual después del cambio: /home/cami/workshop2

#### Importamos las librerias

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Importamos la conexion

In [3]:
from Base_de_Datos_Operaciones.conexionBD import create_connection

connection = create_connection()

Conectando con la Base de Datos...
Conexion con la Base de Datos MySQL Lograda.

#### Leemos la tabla Spotify ubicada en nuesta Base de Datos, y lo almacenamos en un Dataframe

In [4]:
tabla = "SELECT * FROM Spotify;"
Spotify = pd.read_sql(tabla, connection)
Spotify.head()

/tmp/ipykernel_13781/3599474025.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Spotify = pd.read_sql(tabla, connection)

,id,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,0,0.420,0.1660,...,-17.235,1,0.0763,0.924,0.000006,0.1010,0.267,77.489,4,acoustic
1,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,0,0.438,0.3590,...,-9.734,1,0.0557,0.210,0.000000,0.1170,0.120,76.332,4,acoustic
2,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,0,0.266,0.0596,...,-18.515,1,0.0363,0.905,0.000071,0.1320,0.143,181.740,3,acoustic
3,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,0,0.618,0.4430,...,-9.681,1,0.0526,0.469,0.000000,0.0829,0.167,119.949,4,acoustic
4,5,01MVOl9KtVTNfFiBU9I7dc,Tyrone Wells,Days I Will Remember,Days I Will Remember,58,214240,0,0.688,0.4810,...,-8.807,1,0.1050,0.289,0.000000,0.1890,0.666,98.017,4,acoustic

#### Informacion sobre el Dataset

In [5]:
Spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                114000 non-null  int64
 1   track_id          114000 non-null  object
 2   artists           114000 non-null  object
 3   album_name        114000 non-null  object
 4   track_name        114000 non-null  object
 5   popularity        114000 non-null  int64
 6   duration_ms       114000 non-null  int64
 7   explicit          114000 non-null  int64
 8   danceability      114000 non-null  float64
 9   energy            114000 non-null  float64
 10  key               114000 non-null  int64
 11  loudness          114000 non-null  float64
 12  mode              114000 non-null  int64
 13  speechiness       114000 non-null  float64
 14  acousticness      114000 non-null  float64
 15  instrumentalness  114000 non-null  float64
 16  liveness          114000 non-null  float64
 17  valence           114000 non-null  float64
 18  tempo             114000 non-null  float64
 19  time_signature    114000 non-null  int64
 20  track_genre       114000 non-null  object
dtypes: float64(9), int64(7), object(5)
memory usage: 18.3+ MB